body {
    font-family: "Hanken Grotesk", sans-serif;
}

.sr-only {
    position: absolute ;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
  }

.container {
    margin: 50px auto 50px;
    width: 600px;
    height: 400px;
    background-color: white;
    box-shadow: 20px 20px 30px -10px hsl(221, 100%, 96%);
    border-radius: 30px;
}

#Result {
    float: left;
    background-image: linear-gradient(hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)) ;
    width: 280px;
    height: inherit;
    color: white;
    border-radius: 30px;
    text-align: center;
}

#yResult {
    margin: 35px auto;
    color: hsl(241, 100%, 89%);
    font-weight: 700;
}

#Score {
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0));
    margin: 0 auto 0;
    text-align: center;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
}

#Score h1 {
    margin: 0;
    font-size: 3.2em;
    padding: 20%;
    padding-bottom: 0;
    font-weight: 800;
}

#Score p{
    margin: 0;
    color: hsl(241, 100%, 89%);
    font-weight: 800;
}

#Result h2 {
    margin: 20px auto 10px;
}

#description {
    margin: 0 auto;
    color: hsl(241, 100%, 89%);
    font-weight: 500;
    padding: 0 35px;
}


.Summary {
    float: right;
    width: 320px;
    height: inherit;
}

.Summary p {
    margin: 35px auto;
    color: hsl(224, 30%, 27%);
    font-weight: 800;
    padding-left: 30px;
}

li {
    display: flex;
    margin: 10px auto;
    list-style: none;
    width: 230px;
    border-radius: 10px;
    text-align: left;
    padding: 10px 0px;
    vertical-align: middle;
    font-family: "Hanken Grotesk", sans-serif;
    justify-content: space-around;
}

ul #Reaction {
    background-color: hsl(0, 100%, 67%, 20%);
    color: #F55;
}

ul #Memory {
    background-color: hsl(39, 100%, 56%, 20%);
    color: #FFB21E;
}

ul #Verbal {
    background-color: hsl(166, 100%, 37%, 20%);
    color: #00BB8F;
}

ul #Visual {
    background-color: hsl(234, 85%, 45%, 20%);
    color: #1125D6;
}

li img{
    height: 20px;
}

li span{
    padding: 0 auto 0 30px;
    justify-content: flex-end;
    color: hsl(224, 30%, 27%);
}

ul {
    margin: 10px auto;
    padding: 0;
}

#button {
    display: block;
    background-color: hsl(224, 30%, 27%);
    width: 230px;
    height: 40px;
    margin: 30px auto 30px;
    padding: 0;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}

#button:focus{
    background-image: linear-gradient(hsl(252, 100%, 67%),
    hsl(241, 81%, 54%));
    outline: 0px;
    border: 0px;
}

.attribution, .attribution a {
    font-size: 11px; 
    text-align: center;
    color: hsl(228, 45%, 44%); 
}

@media(max-width:610px){
    body{
        margin: 0;
        overflow: hidden;
        height: max-content;
    }

    .container {
        margin: 0;
        width: auto;
        height: inherit;
        background-color: none;
        box-shadow: none;
    }

    #description {
        width: 40%;
    }

    #Result {
        float: none;
        width: inherit;
        height: max-content;
        padding: 30px;
        margin: 0;
        border-radius: 0;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    #yResult {
        margin: 5px auto 30px;
    }

    .Summary {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        float: none;
        margin: 0 auto;
        width: 450px;
    }
    
    .Summary p{
        margin: 10px 0 10px 30px;
        padding: 0;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        width: 400px;
    }

    #button{
        margin: 10px auto;
        width: 400px;
    }

}